@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
.mainNav {
    background-color: #0c0521;
}

.bg-rand{
    background-color:#26232C;
    /* background-color:transparent; */
    
}

.navLink{
    font-size:18px;
}

.logo-heading{
    font-family: 'Niconne', cursive;
    font-size: 40px;
}
